body{
  padding: 0px;
  margin: 0px;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100vw;
  }

.dkatz {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}